USE [webbantra]
GO
/****** Object:  Table [dbo].[tblCategory]    Script Date: 4/27/2023 11:20:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCategory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Slug] [nvarchar](max) NULL,
	[MetaTitle] [nvarchar](max) NULL,
	[MetaKey] [nvarchar](max) NULL,
	[MetaDesc] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[IsDelete] [int] NULL,
	[IsActive] [int] NULL,
 CONSTRAINT [PK_tblCategory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblContact]    Script Date: 4/27/2023 11:20:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblContact](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Phone] [int] NULL,
	[Detail] [nvarchar](max) NULL,
	[IsReply] [int] NULL,
	[Reply] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[RepliedBy] [int] NULL,
	[RepliedDate] [datetime] NULL,
	[IsDelete] [int] NULL,
 CONSTRAINT [PK_tblContact] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblNew]    Script Date: 4/27/2023 11:20:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblNew](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Detail] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Slug] [nvarchar](max) NULL,
	[MetaTitle] [nvarchar](max) NULL,
	[MetaKey] [nvarchar](max) NULL,
	[MetaDesc] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[IsDelete] [int] NULL,
	[IsActive] [int] NULL,
	[Summary] [nvarchar](max) NULL,
 CONSTRAINT [PK_tblNew] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblProduct]    Script Date: 4/27/2023 11:20:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblProduct](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Slug] [nvarchar](max) NULL,
	[CateID] [int] NULL,
	[Mass] [int] NULL,
	[Price] [int] NULL,
	[ProPrice] [int] NULL,
	[Description] [nvarchar](max) NULL,
	[Detail] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[MetaTitle] [nvarchar](max) NULL,
	[MetaKey] [nvarchar](max) NULL,
	[MetaDesc] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[IsDelete] [int] NULL,
	[IsActive] [int] NULL,
 CONSTRAINT [PK_tblProduct] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblProductImages]    Script Date: 4/27/2023 11:20:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblProductImages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[IdProduct] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSlider]    Script Date: 4/27/2023 11:20:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSlider](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Url] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Position] [int] NULL,
	[Image] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[IsDelete] [int] NULL,
	[IsActive] [int] NULL,
 CONSTRAINT [PK_tblSlider] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUser]    Script Date: 4/27/2023 11:20:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUser](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](max) NULL,
	[UserName] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Role] [int] NULL,
	[Image] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Phone] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[IsDelete] [int] NULL,
	[IsActive] [int] NULL,
 CONSTRAINT [PK_tblUser] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblCategory] ON 

INSERT [dbo].[tblCategory] ([ID], [Name], [Slug], [MetaTitle], [MetaKey], [MetaDesc], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [IsDelete], [IsActive]) VALUES (1, N'Trà Sen Tây Hồ', N'tra-sen-tay-ho', N'Trà Sen Tây Hồ', N'Trà Sen Tây Hồ', N'Trà Sen Tây Hồ', CAST(N'2023-04-18T17:52:11.017' AS DateTime), 1, CAST(N'2023-04-26T16:57:01.713' AS DateTime), 1, 0, 1)
INSERT [dbo].[tblCategory] ([ID], [Name], [Slug], [MetaTitle], [MetaKey], [MetaDesc], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [IsDelete], [IsActive]) VALUES (2, N'Trà Ướp Hoa', N'tra-uop-hoa', N'Trà Ướp Hoa', N'Trà Ướp Hoa', N'Trà Ướp Hoa', CAST(N'2023-04-18T00:00:00.000' AS DateTime), 1, CAST(N'2023-04-20T22:01:44.863' AS DateTime), NULL, 0, 1)
INSERT [dbo].[tblCategory] ([ID], [Name], [Slug], [MetaTitle], [MetaKey], [MetaDesc], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [IsDelete], [IsActive]) VALUES (3, N'Trà Shan Tuyết', N'tra-shan-tuyet', N'Trà Shan Tuyết', N'Trà Shan Tuyết', N'Trà Shan Tuyết', CAST(N'2023-04-18T00:00:00.000' AS DateTime), 1, NULL, NULL, 0, 1)
SET IDENTITY_INSERT [dbo].[tblCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[tblContact] ON 

INSERT [dbo].[tblContact] ([Id], [FullName], [Email], [Phone], [Detail], [IsReply], [Reply], [CreatedDate], [RepliedBy], [RepliedDate], [IsDelete]) VALUES (1, N'Bùi Huy Tú', N'bhtu1234@gmail.com', 983012401, N'Hello', 1, N'HI', CAST(N'2023-04-18T19:23:55.823' AS DateTime), 1, CAST(N'2023-04-24T23:19:24.013' AS DateTime), 0)
INSERT [dbo].[tblContact] ([Id], [FullName], [Email], [Phone], [Detail], [IsReply], [Reply], [CreatedDate], [RepliedBy], [RepliedDate], [IsDelete]) VALUES (3, N'test', N'bhtu1234@gmail.com', 983012401, N'test', 0, NULL, CAST(N'2023-04-24T19:28:21.587' AS DateTime), 1, CAST(N'2023-04-24T23:19:24.527' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[tblContact] OFF
GO
SET IDENTITY_INSERT [dbo].[tblNew] ON 

SET IDENTITY_INSERT [dbo].[tblNew] OFF
GO
SET IDENTITY_INSERT [dbo].[tblProduct] ON 

SET IDENTITY_INSERT [dbo].[tblProduct] OFF
GO
SET IDENTITY_INSERT [dbo].[tblProductImages] ON 

INSERT [dbo].[tblProductImages] ([Id], [Name], [IdProduct]) VALUES (1, N'tra-dinh-1.jpg', 1)
INSERT [dbo].[tblProductImages] ([Id], [Name], [IdProduct]) VALUES (2, N'tra-dinh-2.jpg', 1)
INSERT [dbo].[tblProductImages] ([Id], [Name], [IdProduct]) VALUES (3, N'tra-dinh-3.jpg', 1)
SET IDENTITY_INSERT [dbo].[tblProductImages] OFF
GO
SET IDENTITY_INSERT [dbo].[tblSlider] ON 

INSERT [dbo].[tblSlider] ([ID], [Name], [Url], [Description], [Position], [Image], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [IsDelete], [IsActive]) VALUES (1, N'TRÀ ƯỚP SEN TÂY HỒ', N'tra-uop-sen-tay-ho', N'Sự hòa quyện tuyệt vời giữa hương thơm ngan ngát của sen Bách diệp Hồ Tây và vị đậm đà của trà Tân Cương', 1, N'backBanner.png', CAST(N'2023-04-18T00:00:00.000' AS DateTime), 1, CAST(N'2023-04-24T23:30:38.123' AS DateTime), 1, 0, 1)
INSERT [dbo].[tblSlider] ([ID], [Name], [Url], [Description], [Position], [Image], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [IsDelete], [IsActive]) VALUES (2, N'TRÀ CỦA NHỮNG BẬC THẦY', N'tra-cua-nhung-bac-thay', N'Được chọn lựa bởi Champion of Tea Master Cup Vietnam', 1, N'backBanner2.jpg', CAST(N'2023-04-18T00:00:00.000' AS DateTime), 1, CAST(N'2023-04-24T23:30:38.740' AS DateTime), 1, 0, 1)
INSERT [dbo].[tblSlider] ([ID], [Name], [Url], [Description], [Position], [Image], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [IsDelete], [IsActive]) VALUES (3, N'DÀNH CHO HORECA', N'danh-cho-horeca', N'Trà cao cấp dành cho Nhà hàng, Khách sạn', 1, N'backBanner3.jpg', CAST(N'2023-04-18T00:00:00.000' AS DateTime), 1, CAST(N'2023-04-24T23:30:39.383' AS DateTime), 1, 0, 1)
SET IDENTITY_INSERT [dbo].[tblSlider] OFF
GO
SET IDENTITY_INSERT [dbo].[tblUser] ON 

INSERT [dbo].[tblUser] ([ID], [FullName], [UserName], [Password], [Role], [Image], [Address], [Email], [Phone], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [IsDelete], [IsActive]) VALUES (1, N'Admin', N'Admin', N'123456', 1, N'admin.jpg', N'Ha Noi', N'admin@gmail.com', 123456789, NULL, NULL, CAST(N'2023-04-24T18:18:56.377' AS DateTime), 1, 0, 1)
SET IDENTITY_INSERT [dbo].[tblUser] OFF
GO
ALTER TABLE [dbo].[tblProduct]  WITH CHECK ADD  CONSTRAINT [FK_tblProduct_tblCategory] FOREIGN KEY([CateID])
REFERENCES [dbo].[tblCategory] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblProduct] CHECK CONSTRAINT [FK_tblProduct_tblCategory]
GO
ALTER TABLE [dbo].[tblProductImages]  WITH CHECK ADD  CONSTRAINT [FK_tblProductImages_tblProduct] FOREIGN KEY([IdProduct])
REFERENCES [dbo].[tblProduct] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblProductImages] CHECK CONSTRAINT [FK_tblProductImages_tblProduct]
GO
