
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <link rel="icon" type="image/x-icon" href="~/Public/Assets/icon/icon-tea-admin.ico">
    <link rel="stylesheet" href="~/Public/Admin/Css/login.css">
    <script src="~/Public/Admin/js/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <form action="">
            <h1>Đăng nhập</h1>
            <div class="form-control">
                <input id="username" name="username" type="text" placeholder="Username">
                <small></small>
                <span></span>
            </div>


            <div class="form-control">
                <input id="password" name="password" type="password" placeholder="Password">
                <small></small>
                <span></span>
            </div>


            <button type="submit" id="btn-login" class="btn-submit">Login</button>

        </form>
    </div>

    <script src="~/Public/Admin/js/login.js"></script>

    <script src="~/Public/Admin/js/bootstrap.bundle.min.js"></script>

    <script src="~/Public/Admin/js/jquery.overlayScrollbars.min.js"></script>

    
</body>
</html>
