
@{
    ViewBag.Title = "Thùng rác";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card">
    <div class="card-header d-flex justify-content-between">
        <h5 class="h5-title">Thùng rác</h5>
        <div class="button">
            <a href="@Url.Action("Index", "Category")" class="btn btn-danger btn-sm">
                <i class="fa-solid fa-door-open"></i>
                Thoát
            </a>
        </div>
    </div>
    <div class="card-body flex-column">
        <div class="search-box">
            <div class="view-pageSize d-flex align-items-center">
                <span>Xem</span>
                <select name="" id="" class="">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                </select>
                <span>mục</span>
            </div>
            <div class="d-flex ml-3">
                <label for="" class="text-nowrap">Tìm kiếm</label>
                <input type="text" class="form-control" />
            </div>
        </div>
        <table id="tblTrashCate" class="table table-bordered table-striped mt-3">
            <thead>
                <tr>
                    <th class="text-center">ID</th>
                    <th>Tên danh mục</th>
                    <th>Ngày tạo</th>
                    <th class="text-center">Hoạt động</th>
                </tr>
            </thead>
        </table>

    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        GetAllCategories();

    });

    function printTable(categories) {
        $("#tblTrashCate tbody").remove();
        if ($("#tblTrashCate tbody").length == 0) {
            $("#tblTrashCate").append("<tbody></tbody>");
        }
        for (let category of categories) {
            

            var d = new Date(category.createdDate.trim());
            createdAt = d.toLocaleString("nl-BE");
            $("#tblTrashCate tbody").append(
                `<tr>
                    <td class="text-center">${category.id}</td>
                    <td><a href="/Admin/Category/Details/${category.id}">${category.name}</a></td>
                    <td>${category.metaTitle}</td>
                    <td>${createdAt}</td>
                    <td class="text-center">
                        <a href="/Admin/Category/ReTrash/${category.id}" class="btn btn-info" style="color: #fff; margin: 0 4px;">
                            <i class="fa-solid fa-rotate-right fa-flip-horizontal"></i>
                        </a>
                        <a href="/Admin/Category/Delete/${category.id}" class="btn btn-danger" style="color: #fff; margin: 0 4px;">
                            <i class="far fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>`
            );
        }
    }

    function GetAllCategories() {
        var Url = 'https://localhost:7015/api/Categories/GetTrash';
        $.ajax({
            url: Url,
            method: 'GET',
            contentType: 'application/json;charset=utf-8',
            success: function (response) {
                console.log(response);

                printTable(response)
            },
            error: function (errorMessage) {
                console.log(errorMessage);
            }
        });
    };

    
</script>
