
@{
    ViewBag.Title = "Danh sách Slider";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card">
    <div class="card-header d-flex justify-content-between">
        <h5 class="h5-title">Quản lý bài viết</h5>
        <div class="button">
            <a href="@Url.Action("Create", "Slider")" class="btn btn-primary btn-sm">
                <i class="fa-sharp fa-solid fa-plus" style="font-size: 12px;"></i>
                Thêm mới
            </a>
            <a href="@Url.Action("Trash", "Slider")" class="btn btn-danger btn-sm" id="trash">
                <i class="far fa-trash-alt"></i>
                Thùng rác
            </a>
        </div>
    </div>
    <div class="card-body flex-column">
        <div class="search-box">
            <div class="view-pageSize d-flex align-items-center">
                <span>Xem</span>
                <select name="" id="" class="">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                </select>
                <span>mục</span>
            </div>
            <div class="d-flex ml-3">
                <label for="" class="text-nowrap">Tìm kiếm</label>
                <input type="text" class="form-control" />
            </div>
        </div>
        <table id="tblSlider" class="table table-bordered table-striped mt-3">
            <thead>
                <tr>
                    <th class="text-center">ID</th>
                    <th style="width: 150px">Hình ảnh</th>
                    <th style="width: 250px">Tên slider</th>
                    <th style="width: 400px">Nội dung</th>
                    <th class="text-center" style="width: 200px">Hoạt động</th>
                </tr>
            </thead>
        </table>

    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        GetAllSlider();

    });

    function printTable(sliders) {
        $("#tblSlider tbody").remove();
        if ($("#tblSlider tbody").length == 0) {
            $("#tblSlider").append("<tbody></tbody>");
        }
        for (let slider of sliders) {
            var checkActive = '';
            if (slider.isActive == 1) {
                checkActive += '<input class="changeStatus" data-id="' + slider.id + '" data-controller="Category" type="checkbox" onClick="status(\'' + slider.id + '\');" checked>';
            }
            else {
                checkActive += '<input class="changeStatus" data-id="' + slider.id + '" data-controller="Category" type="checkbox" onClick="status(\'' + slider.id + '\');" >';
            }

            $("#tblSlider tbody").append(
                `<tr>
                    <td class="text-center">${slider.id}</td>
                    <td><img src="/Public/Admin/Pictures/sliders/${slider.image}" alt="" class="img-product" style="width:100%"></td>
                    <td><a href="/Admin/Slider/Details/${slider.id}">${slider.name}</a></td>
                    <td>${slider.description}</td>
                    <td class="text-center">
                        <label class="switch">
                            ${checkActive}
                            <span class="slider round"></span>
                        </label>
                        <a href="/Admin/Slider/Edit/${slider.id}" class="btn btn-warning" style="color: #fff; margin: 0 4px;">
                            <i class="fa-solid fa-pen"></i>
                        </a>
                        <a href="/Admin/Slider/DelTrash/${slider.id}" class="btn btn-danger" style="color: #fff; margin: 0 4px;">
                            <i class="far fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>`
            );
        }
    }

    function GetAllSlider() {
        var Url = 'https://localhost:7015/api/Sliders';
        $.ajax({
            url: Url,
            method: 'GET',
            contentType: 'application/json;charset=utf-8',
            success: function (response) {
                console.log(response);
                $("#trash").text("Thùng rác (" + response.countTrash + ")");

                printTable(response.list)
            },
            error: function (errorMessage) {
                console.log(errorMessage);
            }
        });
    };

    function status(id) {
        $.ajax({
            url: "/Admin/Slider/changeStatus",
            data: { id: id },
            dataType: 'json',
            type: 'POST',
            success: function (res) {
                var i;
                $('table > tbody  > tr').each(function (index) {

                    if ($(".changeStatus").eq(index).attr("data-id") == id) {
                        i = index;
                    }
                });
                alert('Thay đổi trạng thái thành công! id= ' + id)
                if (res.Status == 1) {
                    $(".changeStatus").eq(i).prop('checked', true);
                } else {
                    $(".changeStatus").eq(i).prop('checked', false);
                }
            }
        });
    }
</script>