
@{
    ViewBag.Title = "Xóa sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card">
    <div class="card-header d-flex justify-content-between">
        <h5 class="h5-title">Xóa sản phẩm</h5>
        <div class="button">
            <button class="btn btn-danger btn-sm" onclick="deleteProduct();">
                <i class="far fa-trash-alt"></i>
                Xóa
            </button>
            <a href="@Url.Action("Trash", "Product")" class="btn btn-info btn-sm">
                <i class="fas fa-sign-out-alt fa-xs"></i>
                Back To List
            </a>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-striped mt-3">
            <tbody>
                <tr>
                    <th>ID</th>
                    <td id="id">@ViewBag.Id</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td id="name"></td>
                </tr>
                <tr>
                    <th>Slug</th>
                    <td id="slug"></td>
                </tr>
                <tr>
                    <th>CateId</th>
                    <td id="cateId"></td>
                </tr>
                <tr>
                    <th>Mass</th>
                    <td id="mass"></td>
                </tr>
                <tr>
                    <th>Price</th>
                    <td id="price"></td>
                </tr>
                <tr>
                    <th>ProPrice</th>
                    <td id="proPrice"></td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td id="description"></td>
                </tr>
                <tr>
                    <th>Detail</th>
                    <td id="detail"></td>
                </tr>
                <tr>
                    <th>Image</th>
                    <td id="image"></td>
                </tr>
                <tr>
                    <th>MetaTitle</th>
                    <td id="metaTitle"></td>
                </tr>
                <tr>
                    <th>MetaKey</th>
                    <td id="metaKey"></td>
                </tr>
                <tr>
                    <th>MetaDesc</th>
                    <td id="metaDesc"></td>
                </tr>
                <tr>
                    <th>CreatedAt</th>
                    <td id="createdAt"></td>
                </tr>
                <tr>
                    <th>CreatedBy</th>
                    <td id="createdBy"></td>
                </tr>
                <tr>
                    <th>UpdatedAt</th>
                    <td id="updatedAt"></td>
                </tr>
                <tr>
                    <th>UpdatedBy</th>
                    <td id="updatedBy"></td>
                </tr>
                <tr>
                    <th>Active</th>
                    <td id="isActive"></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var Url = 'https://localhost:7015/api/Products/id?id=' + $("#id").text();
        $.ajax({
            url: Url,
            method: 'GET',
            contentType: 'application/json;charset=utf-8',
            dataType: 'json',
            success: function (response) {
                let createdAt, updatedAt;
                let active = response.isActive == 1 ? "Yes" : "No";
                let price = new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(response.price);
                let proPrice = new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(response.proPrice);
                if (response.createdDate != null) {
                    dateCreated = new Date(response.createdDate.trim());
                    createdAt = dateCreated.toLocaleString("nl-BE");
                }
                else {
                    createdAt = null;
                }
                if (response.updatedDate != null) {
                    dateUpdated = new Date(response.updatedDate.trim());
                    updatedAt = dateUpdated.toLocaleString("nl-BE");
                }
                else {
                    updatedAt = null;
                }

                console.log(response);
                $('#name').text(response.name);
                $('#slug').text(response.slug);
                $('#cateId').text(response.cateId);
                $('#mass').text(response.mass);
                $('#price').text(price);
                $('#proPrice').text(proPrice);
                $('#description').append(response.description);
                $('#detail').append(response.detail);
                $('#image').append(`<img src="/Public/Admin/Pictures/products/${response.image}" alt="" class="img-product" style="width:500px;height:200px">`);
                $('#metaTitle').text(response.metaTitle);
                $('#metaKey').text(response.metaKey);
                $('#metaDesc').text(response.metaDesc);
                $('#createdAt').text(createdAt);
                $('#createdBy').text(response.createdBy);
                $('#updatedAt').text(updatedAt);
                $('#updatedBy').text(response.updatedBy);
                $('#isActive').text(active);
            },
            error: function (errorMessage) {
                console.log(errorMessage);
            }
        });
    });

    function deleteProduct() {
        let productId = $("#id").text().trim()
        let productName = $("#name").text().trim()
        let Url = 'https://localhost:7015/api/Products/id?id=' + productId;
        $.ajax({
            url: Url,
            method: 'DELETE',
            contentType: 'text',
            dataType: 'text',
            success: function (response) {
                console.log(response);
                alert("Deleted Success Product Name:" + productName);
                window.location.replace("https://localhost:44367/Admin/Product/Index");
            },
            error: function (errorMessage) {
                console.log(errorMessage);
            }
        });
    }
</script>